{% extends 'base.html.twig' %}

{% block title %}{{ team.name }} - Detail{% endblock %}

{% block body %}

    <h1>Details</h1>
    <div class="card text-center">
        {{ team.logo }}
        Your team : {{ team.name }}
        Players : {% for player in players %}{{ player.nickname }}{% endfor %}
    </div>
    <div>
        {{ form_start(addPlayerToTeamForm) }}
        {{ form_row(addPlayerToTeamForm.nickname,{'full_name': 'add_player_to_team_nickname'}) }}
        <div id="nicknames" style="display: none">
            <select id="selectNicknames" name="selectNicknames">
            </select>
        </div>
        <button type="submit" class="btn btn-secondary">Add</button>
        <div style="display: none; color: red" id="errorMessage"></div>
        {{ form_end(addPlayerToTeamForm) }}
    </div>

{% endblock %}

{% block javascripts %}


{% endblock %}



