{% extends 'base.html.twig' %}
{% form_theme addScrimForm 'bootstrap_4_horizontal_layout.html.twig' %}

{% block head %}
    {% block title %}Add your Scrim{% endblock %}
{% endblock %}

{% block body %}

    <h3>Add your Scrim</h3>
    <div class="container">
        {{ form_start(addScrimForm, {'attr': {'autocomplete': 'off'}}) }}
        {% if not addScrimForm.vars.valid %}
            <div class="alert alert-error">
                {{ form_errors(addScrimForm) }}
            </div>
        {% endif %}
        {{ form_row(addScrimForm.name) }}
        {{ form_row(addScrimForm.logo) }}
        {{ form_row(addScrimForm.scrimDate) }}
        {{ form_row(addScrimForm.scrimlimitRegistrationDate) }}
        <div class="autocomplete">
            {{ form_row(addScrimForm.game, {'id':'myInput'}) }}
        </div>
        {{ form_row(addScrimForm.platform) }}
        {{ form_row(addScrimForm.matchStyle) }}
        {{ form_row(addScrimForm.description) }}
        <button type="submit" class="btn btn-secondary">Create your Scrim</button>
        {{ form_end(addScrimForm) }}
    </div>

{% endblock %}

{% block javascripts %}
    <script type="text/javascript">
        const input = document.getElementById('myInput')
        input.addEventListener("input", searchGame)
    </script>
    <script>
        tinymce.init({
            selector: '#scrim_description',
            plugins: [
                "a11ychecker advcode advlist anchor autolink codesample fullscreen help image imagetools tinydrive",
                " lists link media noneditable powerpaste preview",
                " searchreplace table template tinymcespellchecker visualblocks"
            ],
            toolbar: "insertfile a11ycheck undo redo | bold italic | forecolor backcolor | template codesample | alignleft aligncenter alignright alignjustify | bullist numlist | link image tinydrive",
            toolbar_mode: 'floating',
            tinycomments_mode: 'embedded',
            branding: false
        });
    </script>
{% endblock %}

