{% extends 'base.html.twig' %}

{% block title %}Esport Events{% endblock %}

{% block body %}

    <a class="btn btn-secondary" href="{{ path('addScrim') }}">Create your Scrim</a>

    {% for upcomingScrim in upcomingScrims %}
        <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="scrimLogo">
            <div class="card-body">
                <h5 class="card-title"><b>{{ upcomingScrim.name }}</b></h5>
                <p class="card-text"><b>Scrim Date :</b> {{ upcomingScrim.scrimDate | date('d-m-Y') }}</p>
                <p class="card-text"><b>Limit Registration Date :</b> {{ upcomingScrim.scrimlimitRegistrationDate | date('d-m-Y') }}</p>
                <a href="{{ path('scrimDetail', {'id': upcomingScrim.id}) }}" class="btn btn-primary">Details</a>
            </div>
        </div>
    {% endfor %}

{% endblock %}
