{% extends 'base.html.twig' %}

{% block title %}{{ scrim.name }} - Detail{% endblock %}

{% block body %}

    <div class="card text-center">
        <h1>{{ scrim.name }}</h1>
        {% if scrim.organizer == app.user %}
            {% if scrim.scrimDate < today %}
                <a class="btn btn-secondary btn-sm" href="{{ path('scrimResults', {'id':scrim.id}) }}">Enter Results</a>
            {% endif %}
            <a class="btn btn-secondary btn-sm" href="{{ path('scrimUpdate', {'id':scrim.id}) }}">Manage Scrim</a>
            <a class="btn btn-secondary btn-sm" href="{{ path('scrimDelete', {'id':scrim.id}) }}">Delete Scrim</a>
        {% endif %}
        <img style="height: 200px; width: 200px;" src="{{ asset('uploads/logoScim/'~scrim.logo) }}" alt="logoScrim">
        <p class="card-text"><b>Scrim Date :</b> {{ scrim.scrimDate | date('d-m-Y H:m') }}</p>
        <p class="card-text"><b>Limit Registration Date :</b> {{ scrim.scrimlimitRegistrationDate | date('d-m-Y H:m') }}</p>
        <p class="card-text"><b>Game :</b> {{ scrim.game }}</p>
        <p class="card-text"><b>Platform :</b> {{ scrim.platform }}</p>
        <p class="card-text"><b>Description :</b> {{ scrim.description | striptags }}</p>
        {% if teams.count > 0 %}
            {% for team in teams %}
                {% if is_granted('ROLE_TEAM_ADMIN') and team.name == app.user.team.name %}
                    <a class="btn btn-secondary btn-sm"
                       href="{{ path('scrimUnregister', {'id':scrim.id}) }}">Unregister</a>
                {% else %}
                    {% if is_granted('ROLE_TEAM_ADMIN') and (team.name != app.user.team.name) and (teams.count < scrim.nbMaxTeams) %}
                        <a class="btn btn-secondary btn-sm"
                           href="{{ path('scrimRegister', {'id':scrim.id}) }}">Register</a>
                    {% endif %}
                {% endif %}
            {% endfor %}
        {% else %}
            {% if is_granted('ROLE_TEAM_ADMIN') and teams.count < scrim.nbMaxTeams %}
                <a class="btn btn-secondary btn-sm"
                   href="{{ path('scrimRegister', {'id':scrim.id}) }}">Register</a>
            {% endif %}
        {% endif %}

    </div>

    <div class="list-group list-group-horizontal">
        {% for team in teams %}
            <a href="{{ path('teamDetail', {'id': team.id}) }}"
               class="list-group-item list-group-item-action">{{ team.name }}</a>
            <div class="list-group list-group-flush">
                {% for player in team.players %}
                    <a href="{{ path('profile', {'id': player.id}) }}"
                       class="list-group-item list-group-item-action">{{ player.nickname }}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}

{% endblock %}



