{% extends 'base.html.twig' %}

{% block title %}{{ scrim.name }} - Detail{% endblock %}

{% block body %}

    <div class="card text-center">
        <h1>{{ scrim.name }}</h1>
        <img style="height: 200px; width: 200px;" src="{{ asset('uploads/logoScim/'~scrim.logo) }}" alt="logoScrim">
        <p class="card-text">Limit Registration Date : {{ scrim.scrimlimitRegistrationDate | date('d-m-Y H:m') }}</p>
        <p class="card-text">Scrim Date : {{ scrim.scrimDate | date('d-m-Y H:m') }}</p>
        {% if is_granted('ROLE_TEAM_ADMIN') and (scrim.teams.count < scrim.nbMaxTeams) and ()%}
            <a class="btn btn-secondary btn-sm" href="{{ path('scrimRegister', {'id':scrim.id}) }}">Register</a>
        {% endif %}
    </div>

    <div class="list-group list-group-horizontal">
        {% for team in teams %}
            <a href="{{ path('teamDetail', {'id': team.id}) }}"
               class="list-group-item list-group-item-action">{{ team.name }}</a>
            <div class="list-group list-group-flush">
                {% for player in team.players %}
                    <a href="{{ path('profile', {'id': player.id}) }}"
                       class="list-group-item list-group-item-action">{{ player.nickname }}</a>
                {% endfor %}
            </div>
        {% endfor %}
    </div>


{% endblock %}

{% block javascripts %}

{% endblock %}



